.idea/compiler.xml
.idea/dataSources.local.xml
.idea/encodings.xml
.idea/discord.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml

# Environment variables
.env
.env.local
.env.production

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Application properties with sensitive data
application-prod.properties
application-local.properties
